---
import '@/styles/global.css';
const { title, desc, image = {} } = Astro.props;
const canonicalUrl = new URL(Astro.url.pathname, Astro.site).href;

import appleTouchIcon from '@/assets/favicon/apple-touch-icon.png';
import icon32 from '@/assets/favicon/favicon-32x32.png';
import icon16 from '@/assets/favicon/favicon-16x16.png';
/* import manifest from '@/assets/favicon/site.webmanifest'; */
import maskIcon from '@/assets/favicon/safari-pinned-tab.svg';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta name="generator" content={Astro.generator} />

    <link rel="canonical" href={canonicalUrl} />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href={appleTouchIcon.src} />
    <link rel="icon" type="image/png" sizes="32x32" href={icon32.src} />
    <link rel="icon" type="image/png" sizes="16x16" href={icon16.src} />
    <link rel="mask-icon" href={maskIcon.src} color="#243b55" />
    <meta name="msapplication-TileColor" content="#243b55" />
    <meta name="theme-color" content="#243b55" />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={desc} />
    <meta name="description" content={desc} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta property="og:site_name" content={import.meta.env.site} />
    <meta property="og:locale" content="en" />

    <!-- OG image data -->
    <meta property="og:image" content={image.url} />
    <meta property="og:image:alt" content={image.alt} />
    <meta property="og:image:width" content={image.w} />
    <meta property="og:image:height" content={image.h} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalUrl} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={desc} />
    <meta property="twitter:image" content={image} />

    <!-- extra metadata for Slack unfurls -->
    <meta name="twitter:label1" content="Written by" />
    <meta name="twitter:data1" content="Khoa Do" />
    <!-- <meta name="twitter:label2" content="Reading time" /> -->
    <!-- <meta name="twitter:data2" content="3 minutes" /> -->
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <slot />
  </body>
</html>
